
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    Displayer User: @Session["email"] Information.

<div>
</div>
</body>
</html>
